<h2>Planets</h2>

<mat-table #table [dataSource]="dataSource" *ngIf="!isLoading">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="population">
    <mat-header-cell *matHeaderCellDef> Population </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.population}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="surface_water">
    <mat-header-cell *matHeaderCellDef> Surface Water </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.surface_water}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="gravity">
    <mat-header-cell *matHeaderCellDef> Gravity </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.gravity}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
